<div class="wrapper">

    {{> navbar/nav-block}}

    <div class="content" id="settings">



        <h3 class="display-4"> <i class="fas fa-cog"></i> Settings</h3>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">

                    <div class="mr-auto">
                        <h5 class="mb-0">
                            <button class="btn btn-link p-0" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <h4>Personal Info</h4>

                            </button>
                            <button type="submit" id="updatePersonal" class="btn btn-sm btn-primary mt-1"
                                style="float: right;" data-toggle="tooltip" data-placement="top"
                                title="Update Personal Info"><i class="fas fa-pen"></i></button>

                        </h5>

                    </div>



                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion"
                    active>
                    <div class="card-body">
                        <form>
                            <fieldset disabled id="disabledPersonal">
                                <div class="form-row">

                                    <div class="form-group col-md-6">
                                        <label for="inputFirstName">First Name</label>
                                        <input type="text" class="form-control" id="settingfirstName" placeholder="First name" value={{User.firstName}}>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputLastName">Last Name</label>
                                        <input type="text" class="form-control" id="settinglastName" placeholder="Last name" value={{User.lastName}}>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 p-0">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" value={{User.email}}>
                                </div>


                                <button type="submit" class="btn btn-primary" id="saveBtn" style="display: none;">Save
                                    Info</button>
                                <button type="submit" class="btn btn-secondary" id="cancelBtn"
                                    style="display: none;">Cancel</button>
                            </fieldset>
                        </form>
                        <p id="setting_msg"></p>
                    </div>
                </div>
            </div>
            <div class="card">

                <div class="card-header" id="headingTwo">



                    <div class="mr-auto">
                        <h5 class="mb-0">

                            <div class="media">

                                <div class="media-body">
                                    <button class="btn btn-link collapsed p-0" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h4>Profile Info</h>

                                    </button>
                                    <button type="submit" id="updateProfile" class="btn btn-sm btn-primary mt-1"
                                        style="float: right;" data-toggle="tooltip" data-placement="top"
                                        title="Update Profile Info"><i class="fas fa-pen"></i>
                                    </button>

                                </div>
                            </div>
                            {{!-- <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <h3>Profile Info</h3>

                            </button>
                            <button type="submit" id="updateProfile" class="btn btn-primary mt-2" style="float: right;"
                                data-toggle="tooltip" data-placement="top" title="Update Profile Info">Update
                            </button> --}}

                        </h5>

                    </div>


                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">



                        <fieldset id="disabledProfile" disabled>


                            <div class="row">

                                <div class="col-2">
                                    <label for="inputProfileImg">Profile Image</label> <img src={{img}} width="200"
                                        height="250" id="updatePhoto">
                                </div>
                                <div class="col-10" id="uploadImg" style="display: none;">




                                    {{!-- <form action="/upload" method="POST" enctype="multipart/form-data">
                                        <div class="form-group"> --}}


                                    <input type="file" id="myImage">
                                    <br>
                                    <p id="up_msg" style="color:red"></p>
                                    {{!-- </div> --}}
                                    {{!-- <button type="submit" class="btn btn-primary">Submit</button>
                                    </form> --}}
                                </div>
                            </div>







                            <div class="line"></div>



                            <br>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Password</label>
                                    <input type="password" class="form-control" id="inputPassword4"
                                        placeholder="Password">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputJobTitle">Job Titile</label>
                                    <input type="text" class="form-control" id="inputJobTitle"
                                        placeholder="Customer Support Specialist" disabled>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" id="saveProfile" style="display: none;">Save
                                Info</button>
                            <button type="submit" class="btn btn-secondary" id="cancelProfile"
                                style="display: none;">Cancel</button>
                        </fieldset>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/assets/js/upload.js"></script>
{{!-- ////////////////////////////////////////////////////////// --}}
{{!-- {{msg}}


<label for="inputProfileImg">Profile Image</label> <img src={{img}} width="250" height="250" class="img-fluid"
    id="updatePhoto">
<form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="form-group">


        <input type="file" name="myImage">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}